@charset "UTF-8";
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0;
  background: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-wrap: break-word;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

a {
  color: inherit;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: top;
}

video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

::-moz-selection {
  background-color: #EDEDED;
  color: gray;
}

::selection {
  background-color: #EDEDED;
  color: gray;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: "";
  content: none;
}

address {
  font-style: normal;
}

.footer {
  background-color: #111212;
  color: #fff;
}

.footer__logo {
  padding: 36px 0 16px 0;
  font-size: 1.8rem;
  text-align: center;
}

.footer__lead {
  padding-bottom: 24px;
  font-size: 2.6rem;
  text-align: center;
}

@media (max-width: 767px) {
  .footer__lead {
    font-size: 2.0rem;
  }
}

.footer__nav {
  padding: 24px 0;
  max-width: 960px;
}

.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__nav ul li:hover {
  opacity: 0.6;
}

.footer__description {
  padding-bottom: 68px;
  text-align: center;
}

.footer__copyright {
  text-align: center;
  padding-bottom: 30px;
}

.footer__btn-block {
  text-align: center;
}

@media (max-width: 767px) {
  .footer__btn-block a {
    margin-bottom: 5px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.header__logo {
  width: 100px;
}

.header__inner {
  padding: 0 40px;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-inner {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 120px;
}

@media (max-width: 959px) {
  .l-inner {
    padding-right: 24px;
    padding-left: 16px;
  }
}

@media (max-width: 767px) {
  .l-inner {
    padding-right: 24px;
    padding-left: 16px;
  }
}

.btn {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  max-width: 100%;
  border: 1px solid #000;
  color: #000;
  letter-spacing: 0.04em;
  font-weight: 600;
  line-height: 58px;
  height: 60px;
  margin: 0;
  background-color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  text-align: center;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn--sub {
  border: none;
  color: #fff;
  background-color: #007F89;
}

.btn:not(:disabled) {
  cursor: pointer;
}

.btn:hover, .btn:focus {
  outline: none;
  opacity: 0.6;
}

.btn::-moz-foucus-inner {
  padding: 0;
  border: none;
}

.btn-area {
  text-align: center;
}

.btn--footer {
  background-color: #007F89;
}

.logo {
  line-height: 1;
}

.logo__img {
  display: block;
}

.drawer-icon {
  position: fixed;
  top: 40px;
  right: 40px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 100;
}

.drawer-icon--open .drawer-icon__bar1 {
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
  top: 8px;
}

.drawer-icon--open .drawer-icon__bar2 {
  display: none;
}

.drawer-icon--open .drawer-icon__bar3 {
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
  top: 8px;
}

.drawer-icon__bars {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
}

.drawer-icon__bar1, .drawer-icon__bar2, .drawer-icon__bar3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 4px;
  background: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #0E2A2D;
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 40;
}

.drawer-content--open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content__item {
  text-align: center;
}

.drawer-content__item a {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.2rem;
  color: #fff;
  background-color: #0E2A2D;
}

.util-title {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 80px;
}

.hero-sub {
  width: 100%;
  height: 450px;
  background-image: url(/img/news-page.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-sub__heading {
  text-align: center;
  color: #fff;
}

.hero-sub__title-english {
  font-size: 4.8rem;
}

.hero-sub__title-japanese {
  font-size: 2.4rem;
}

.hero-sub--news {
  background-image: url(/img/new-page.jpg);
}

.hero-sub--cabin {
  background-image: url(/img/service-cabin.png);
  background-position: 50%;
}

.hero-sub--camp {
  background-image: url(/img/service-camp.png);
  background-position: bottom;
}

.hero-sub--access {
  background-image: url(/img/access-page.jpg);
  background-position: bottom;
}

.hero-sub--fee {
  background-image: url(/img/fee-page.jpg);
  background-position: bottom;
}

.cta {
  padding: 38px 0;
  background-color: #0E2A2D;
  text-align: center;
  color: #fff;
}

.cta .l-inner {
  padding-bottom: 0px;
}

.cta__title {
  padding-bottom: 8px;
  font-size: 2.0rem;
  font-weight: bold;
}

.cta__lead {
  padding-bottom: 32px;
}

.sns {
  max-width: 340px;
  margin: 0 auto;
  padding: 64px 0;
}

.sns .l-inner {
  padding-bottom: 0px;
}

.sns__lead {
  padding-bottom: 42px;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}

.sns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sns__list li i {
  display: block;
  text-align: center;
}

.sns__twitter:hover {
  color: #1d9bf0;
}

.sns__instagram:hover {
  color: #F26939;
}

.sns__facebook:hover {
  color: #1877f2;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__item {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__item:not(:nth-of-type(2)) {
  margin-right: 10px;
}

.pagination__item--now {
  background-color: #007F89;
  color: #fff;
}

.pagination__item--next {
  background: #E5E5E5;
  color: #333;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: #fff;
}

.pagination__item--next:hover {
  background-color: #007F89;
  color: #fff;
}

.c-breadcrumb {
  padding: 15px 0;
}

.c-breadcrumb .l-inner {
  padding-bottom: 0;
}

.c-breadcrumb a {
  color: #007F89;
}

.c-breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-breadcrumb__item:not(:last-child):after {
  content: ">";
  padding: 0 .9em;
  color: #555;
}

.c-breadcrumb__link:hover {
  border-bottom: 1px solid #007F89;
}

.fixed-link {
  position: fixed;
  background-color: #000;
  padding: 20px 20px 30px 20px;
}

.fixed-link--reserve {
  bottom: 100px;
  right: 0px;
}

.fixed-link--qa {
  bottom: 0;
  right: 0px;
}

.fixed-link:hover {
  opacity: 0.8;
}

.fixed-link p {
  position: relative;
  color: #fff;
  text-align: center;
}

.fixed-link p::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 31px;
  height: 1px;
  background-color: #fff;
}

.fixed-link p::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 40px;
  -webkit-transform: rotate(-140deg);
          transform: rotate(-140deg);
  width: 10px;
  height: 1px;
  background-color: #fff;
}

.fixed-link:nth-child(2) {
  bottom: 100px;
}

.page-index {
  background-color: #f1f1f1;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../../img/hero-image.png);
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 767px) {
  .hero {
    background-position: bottom;
  }
}

.hero__title {
  font-size: 7.2rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 767px) {
  .hero__title {
    font-size: 3.8rem;
  }
}

.covid {
  background-color: #0E2A2D;
  padding: 56px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.covid a {
  width: 70%;
  padding: 48px 0;
  border: double 5px #fff;
}

@media (max-width: 767px) {
  .covid a {
    padding: 27px 0;
  }
}

.covid a:hover {
  opacity: 0.6;
}

.covid__note-text {
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}

@media (max-width: 767px) {
  .covid__note-text {
    font-size: 1.6rem;
  }
}

.news__list {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.news__list-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid #999999;
}

@media (max-width: 767px) {
  .news__list-item a {
    display: block;
  }
}

.news__list-item a:hover {
  opacity: 0.6;
}

.news__list-item:not(:last-child) {
  margin-bottom: 15px;
}

.news__list-item dt {
  padding-right: 30px;
}

@media (max-width: 767px) {
  .news__list-item dt {
    padding-bottom: 4px;
  }
}

.news__list-item dd {
  font-size: 1.8rem;
}

.news .btn-area {
  text-align: center;
}

.about {
  background-color: #0E2A2D;
  color: #fff;
}

.about__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .about__contents {
    display: block;
  }
}

.about__image {
  width: 46%;
}

@media (max-width: 767px) {
  .about__image {
    width: 100%;
  }
}

.about__description {
  width: 46%;
}

@media (max-width: 767px) {
  .about__description {
    width: 100%;
  }
}

.about__title {
  padding-bottom: 15px;
  font-size: 2.4rem;
}

@media (max-width: 767px) {
  .about__title {
    padding-top: 20px;
    padding-bottom: 2px;
  }
}

.about__lead {
  padding-bottom: 48px;
  font-size: 2.0rem;
}

@media (max-width: 767px) {
  .about__lead {
    padding-bottom: 20px;
  }
}

.service {
  background-color: #007F89;
}

.service .util-title {
  color: #fff;
}

.service__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 64px;
}

@media (max-width: 767px) {
  .service__contents {
    display: block;
  }
}

.service__item {
  width: 46%;
}

@media (max-width: 767px) {
  .service__item {
    width: 100%;
    margin-bottom: 40px;
  }
}

.service__item-bg {
  position: relative;
  height: 380px;
  background-size: cover;
  z-index: 10;
}

.service__item-bg--cabin {
  background-image: url(/img/service-cabin.png);
}

.service__item-bg--camp {
  background-image: url(/img/service-camp.png);
}

.service__item-description {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  z-index: 10;
}

.service__item-lead {
  padding-bottom: 12px;
}

.service__item-title {
  padding-bottom: 32px;
  font-size: 2.4rem;
  font-weight: bold;
}

.service__item-link {
  position: relative;
  font-weight: bold;
}

.service__item-link::before {
  content: '';
  position: absolute;
  bottom: 2px;
  right: -50px;
  width: 40px;
  height: 1px;
  background-color: #fff;
  z-index: 10;
}

.service__item-link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  right: -43px;
  width: 1px;
  height: 20px;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  background-color: #fff;
  z-index: 10;
}

.service__item-link:hover {
  opacity: 0.7;
}

.service__fee-link {
  width: 70%;
  padding: 48px 0;
  margin: 0 auto;
  border: double 5px #fff;
}

@media (max-width: 767px) {
  .service__fee-link {
    padding: 27px 0;
  }
}

.service__fee-link:hover {
  opacity: 0.6;
}

.service__fee-text {
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}

.access__map {
  width: 100%;
}

.access__map iframe {
  width: 100%;
}

.access__description {
  padding-top: 15px;
  text-align: center;
}

.access__description p {
  margin-bottom: 5px;
}

.access__description p:nth-child(3) {
  padding-bottom: 30px;
}

.image {
  background-image: url(/img/bobbbq1195P2200296_TP_V.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
  background-position: bottom;
}

.page-news {
  background-color: #f1f1f1;
}

.page-access {
  background-color: #f1f1f1;
}

.access-catch__title {
  padding: 70px 0 12px 0;
  font-size: 2.4rem;
  text-align: center;
}

.access-catch__lead {
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 70px;
  font-size: 1.8rem;
  text-align: center;
}

.access-catch__map {
  width: 100%;
  height: 400px;
}

.access-catch__map iframe {
  width: 100%;
  height: 100%;
}

.parking {
  background-color: #007F89;
}

.parking .util-title {
  color: #fff;
}

.parking__map {
  width: 100%;
  height: 400px;
  padding-bottom: 40px;
}

.parking__map iframe {
  width: 100%;
  height: 100%;
}

.parking p {
  color: #fff;
}

.fee-catch__title {
  padding: 70px 0 12px 0;
  font-size: 2.4rem;
  text-align: center;
}

.fee-catch__lead {
  max-width: 650px;
  margin: 0 auto;
  font-size: 1.8rem;
  text-align: center;
}

.page-fee {
  background-color: #f1f1f1;
}

.fee__item-title {
  position: relative;
  padding: 20px 0;
  font-size: 20px;
  text-align: center;
}

.fee__item-title::after {
  content: attr(data-title);
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(63, 193, 201, 0.3);
  font-size: 50px;
}

@media (max-width: 767px) {
  .fee__item-title::after {
    font-size: 3.4rem;
    left: 25%;
  }
}

.fee .is-green {
  color: #007F89;
}

.fee__item-table {
  padding-bottom: 70px;
}

.fee__item-table table, .fee__item-table td, .fee__item-table th {
  width: 100%;
  border: 1px solid #8f8888;
  border-collapse: collapse;
}

.fee__item-table td, .fee__item-table th {
  padding: 3px;
  height: 50px;
  padding: 15px;
}

@media (max-width: 767px) {
  .fee__item-table td, .fee__item-table th {
    padding: 10px;
  }
}

.fee__item-table th {
  max-width: 300px;
  width: 30%;
  background-color: #007F89;
  color: #fff;
}

.fee__item-table td {
  width: 35%;
}

.fee__item-table .even {
  background: #fbf8f0;
}

.fee__item-table .odd {
  background: #fefcf9;
}

.fee__item-table .table-row1 {
  width: 100%;
}

.fee__rental-link {
  max-width: 340px;
  margin: 0 auto;
  padding: 15px 5px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

@media (max-width: 767px) {
  .fee__rental-link {
    padding: 10px 5px;
  }
}

.fee__rental-link:hover {
  opacity: 0.7;
}

.fee__rental-link .fa-file {
  padding-right: 10px;
}

.page-post {
  background-color: #f1f1f1;
}

.post {
  margin-bottom: 100px;
}

.post .l-inner {
  padding: 30px;
  background-color: #fff;
}

@media (max-width: 767px) {
  .post .l-inner {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 30px;
    margin-left: 15px;
  }
}

.post__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.post__label {
  padding: 0.4em 0.6em;
  margin-right: 20px;
  background-color: #333;
  color: #fff;
}

.post__date {
  font-weight: bold;
}

.post__head {
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  color: #007F89;
}

.post__head::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #EFEFEF;
}

.post__head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 2px;
  background-color: #007F89;
}

.post__content {
  margin-bottom: 30px;
}

.cabin__container {
  padding: 20px;
}

.cabin__img-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.cabin__head {
  position: relative;
  margin: 40px 0;
  text-align: center;
}

.cabin__image {
  position: relative;
  padding-bottom: 40px;
}

.cabin__text-card {
  position: absolute;
  top: 25%;
  right: 3px;
  max-width: 450px;
  padding: 20px;
  background-color: #EFEFEF;
}

.cabin__table table, .cabin__table td, .cabin__table th {
  width: 100%;
  border: 1px solid #8f8888;
  border-collapse: collapse;
}

.cabin__table td, .cabin__table th {
  padding: 3px;
  height: 50px;
  padding: 15px;
}

.cabin__table th {
  max-width: 300px;
  width: 30%;
  background-color: #EFEFEF;
  color: #333;
}

@media (max-width: 767px) {
  .cabin__table th {
    width: 100%;
  }
}

.cabin__table td {
  width: 30%;
}

.cabin__table .even {
  background: #fbf8f0;
}

.cabin__table .odd {
  background: #fefcf9;
}

.cabin__table .table-row1 {
  width: 100%;
}

.page-qa {
  background-color: #f1f1f1;
}

.qa__lead {
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
}

.qa__accordion-title {
  padding: 20px 15px;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #007F89;
  color: #fff;
  text-align: center;
}

.qa__accordion-nav {
  margin-bottom: 10px;
}

.qa__accordion-question {
  background-color: silver;
  padding: 12px 15px;
}

.qa__accordion-question span {
  position: relative;
  display: inline-block;
  padding-left: 1.5em;
}

.qa__accordion-question span::before {
  position: absolute;
  content: "Q.";
  top: 0;
  left: 0;
}

.qa__accordion-answer {
  padding: 12px 15px;
  background-color: #fff;
}

.qa__accordion-answer p {
  position: relative;
  display: inline-block;
  padding-left: 1.5em;
}

.qa__accordion-answer p::before {
  position: absolute;
  content: "A.";
  top: 0;
  left: 0;
}

@media (min-width: 960px) {
  .hidden-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */